{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pedidodetalles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Productoid</th>
                <th>Cantidad</th>
                <th>Pedidoid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pedidoDetalle in pedidoDetalles %}
            <tr>
                <td><a href="{{ path('pedidodetalle_show', { 'id': pedidoDetalle.id }) }}">{{ pedidoDetalle.id }}</a></td>
                <td>{{ pedidoDetalle.productoId }}</td>
                <td>{{ pedidoDetalle.cantidad }}</td>
                <td>{{ pedidoDetalle.pedidoId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pedidodetalle_show', { 'id': pedidoDetalle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pedidodetalle_edit', { 'id': pedidoDetalle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedidodetalle_new') }}">Create a new pedidoDetalle</a>
        </li>
    </ul>
{% endblock %}
